$switch-width-multiplier: 1.25;
$switch-base: 32;

$switch-height: $switch-base;
$switch-width: $switch-base * $switch-width-multiplier;

$switch-height-sm: $switch-base - 6;

$switch-height-lg: $switch-base + 6;

.switch-group {
  display: flex;
  align-items: center;
  height: #{$input-line-height}rem;
  &.round > label > input + * {
	border-radius: $input-line-height;
	&::before {
	  border-radius: 50%;
	}
  }

  & > label {
	position: relative;
	display: inline-block;
	width: auto;
	height: #{$input-line-height * 0.5}rem;
	@include font-size($input-font-size, true);
	font-weight: $font-weight-normal !important;
	line-height: #{$input-line-height * 0.5}rem;
	color: $input-color;
	text-transform: none !important;
	cursor:pointer;

	& > input {
	  opacity: 0;
	  width: 0px;
	  margin-right: #{$input-line-height * 2.75}rem;
	  &:checked + *:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	  }
	  &:active + *:before{
		transform: scale(1.4, 1.4);
		box-shadow: $box-shadow-center;
	  }
	  &:focus + * {
		box-shadow: $input-focus-box-shadow;
	  }
	  & + * {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $gray-400;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		width: #{$input-line-height * 2.5}rem;
		&::before {
		  position: absolute;
		  content: "";
		  height: #{$input-line-height}rem;
		  width: #{$input-line-height}rem;
		  left: #{$input-line-height * 0.25}rem;
		  top: -#{$input-line-height * 0.25}rem;
		  background-color: $white;
		  -webkit-transition: 0.4s;
		  transition: 0.4s;
		}
	  }
	}
  }
  &.default > label > input:checked + * {
	background-color: $secondary;
  }
  &.primary > label > input:checked + * {
	background-color: $primary;
  }
  &.success > label > input:checked + * {
	background-color: $success;
  }
  &.info > label > input:checked + * {
	background-color: $info;
  }
  &.warning > label > input:checked + * {
	background-color: $warning;
  }
  &.danger > label > input:checked + * {
	background-color: $danger;
  }
  &.switch-group-sm {
	&.round > label > input + * {
	  border-radius: 24px;
	}
	& > label {
	  height: 24px;
	  line-height: 24px;
	  & > input {
		margin-right: 50px;
		& + * {
		  width: 50px;
		  &::before {
			height: 16px;
			width: 16px;
		  }
		}
	  }
	}
  }
  &.switch-group-lg {
	&.round > label > input + * {
	  border-radius: 40px;
	}
	& > label {
	  height: 40px;
	  line-height: 40px;
	  & > input {
		margin-right: 70px;
		&:checked + *:before {
		  -webkit-transform: translateX(30px);
		  -ms-transform: translateX(30px);
		  transform: translateX(30px);
		}
		& + * {
		  width: 70px;
		  &::before {
			height: 32px;
			width: 32px;
		  }
		}
	  }
	}
  }
}
