.inputfield-list {
  .item {
	background-color: rgba($secondary, 0.2);
	background-position: 8px 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	height: 7rem;
	opacity: 0.5;
	transition: $transition-base;
	&:hover {
	  opacity: 1;
	}
	&.moved{
	  background: rgba($primary, 0.8);
	}
  }
  .center {
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	.form-group {
	  width: 100%;
	}
  }
  .lnr:hover{
	text-shadow: 0 0 2px $primary;
  }
  &.inputfield-list-sm{
	.item{
	  height: 3rem;
	}
  }
}

.inputfields-icon{
  width: 100px;
  height: 100px;
  text-align:center;
  img{
	width: 100%;
	height: auto;
	max-height: 100%;
  }
}
